<div style="text-align:center">
    <h1>Add New Skill</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <label for="skill">Skill Type:</label>
        <input id="skill" formControlName="skill" />
        <div *ngIf="form.get('skill')?.touched && form.get('skill')?.invalid">
          <small *ngIf="form.get('skill')?.hasError('required')">Skill Name is required.</small>
          <small *ngIf="form.get('skill')?.hasError('minlength')">Skill Name must be at least 3 characters long.</small>
        </div>
      </div>
      <div>
        <label for="details">Skill Name:</label>
        <input id="details" formControlName="details" />
        <div *ngIf="form.get('details')?.touched && form.get('details')?.invalid">
          <small *ngIf="form.get('details')?.hasError('required')">Skill Type is required.</small>
          <small *ngIf="form.get('details')?.hasError('minlength')">Skill Type must be at least 3 characters long.</small>
        </div>
      </div>
      <div>
        <label for="progress">Proficiency:</label>
        <input id="progress" formControlName="progress" />
        <div *ngIf="form.get('progress')?.touched && form.get('progress')?.invalid">
          <small *ngIf="form.get('progress')?.hasError('required')">Proficiency is required.</small>
          <small *ngIf="form.get('progress')?.hasError('min')">Minimum Proficiency Should Be 1</small>
          <small *ngIf="form.get('progress')?.hasError('max')">Maximum Proficiency Should Be 100</small>
        </div>
      </div>
      <button type="submit" [disabled]="form.invalid">Submit</button>
    </form>
  </div>
  