<app-nav-bar></app-nav-bar>
<!-- <mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span fxFlex="none">Full-Stack Java Developer</span>
    <div fxLayout="row" fxLayoutAlign="end center">
      <a href="" mat-button>About</a>
      <a href="" mat-button>Skills</a>
      <a href="" mat-button>Experince</a>
      <a href="" mat-button>Education and certifications</a>
      <a href="" mat-button>Add new skill</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar> -->
<router-outlet></router-outlet>
