<div class="skills-section">
    <h2 class="section-title">Technical Skills</h2>
    <div class="skills-container" *ngIf="skills.length; else skillsNotAvailable">
      <div class="skill-card" *ngFor="let skill of skills">
        <span class="proficiency-label">{{ skill.proficiency }}</span>
        <h3>{{ skill.details }}</h3>
        <p>{{ skill.skill }}</p>
        <div class="progress-container">
          <div class="progress-bar">
            <div
              class="progress-fill"
              [style.width]="skill.progress + '%'"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #skillsNotAvailable>
    <h3 class="text-danger" #error>{{errorMsg}}</h3>
  </ng-template>
  